# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/migrations/dev.db*

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
